---

language: node_js

branches:
  only:
    - master

cache:
  directories:
    - node_modules

script:
  - 'if [ $HAPI_VERSION ]; then npm install hapi@^$HAPI_VERSION.0.0 || echo "done"; fi'
  - "if [ $LINT ]; then npm run lint; fi"
  - "if [ $COVERAGE ]; then npm run multiClean && npm run multiCover && npm install hapi@17.0.0 && npm run multiCover && npm run multiReport && bash <(curl -s https://codecov.io/bash) -f coverage/lcov.info; fi"
  - "if [ $RUN_TEST ]; then npm run test; fi"

jobs:
  include:
    - stage: tests
      node_js: 7
      env:
        - RUN_TEST=true
    - stage: tests
      node_js: 8
      env:
        - RUN_TEST=true
    - stage: tests
      node_js: 9
      env:
        - RUN_TEST=true
    # - stage: tests
    #   node_js: 8
    #   env:
    #     - RUN_TEST=true
    #     - HAPI_VERSION=XX
    - stage: tests
      node_js: node
      env:
        - RUN_TEST=true
    - stage: coverage
      node_js: 8
      env:
        - COVERAGE=true
    - stage: lint
      node_js: 8
      env: LINT=true
